<!doctype html>
<html>
<head>
  {% block head %}
    <title>Flight Search</title>

    {% endblock %}
</head>
<body>

    <h1>Travelogue</h1>

    <h3>Discover your next vacation!</h3>


  {% if 'user' in session %}
    <a href="/logout">Logout</a>
  {% else %}
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  {% endif %}


  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}

  




{% block content %}
    put your content here
{% endblock %}

</body>
</html>