<!doctype html>
<html>
<head>
  {% block head %}
    <title>Flight Search</title>

    {% endblock %}
</head>
<style type="text/css">

  nav{
    z-index: 500;
}

.navbar{

  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  border-color: #737477;
}

.navbar.second{
  margin-bottom: 30px;
  border-top-color: black;
  background-color: #404040;
}

.bg {
  size: 100px;
}

.bg{
  background: url(/static/images/nebo_vysota_oblaka_samolet_krylo_polet_parenie_48093_1600x900.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}


</style>

<body>
  <div class="bg">

  <nav class="navbar navbar-inverse navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><h4 id="travel">Travelogue</h4></a>
      <a class="navbar-brand" href="#"><h5>Discover your next vacation!</h5></a>
      
    </div>
  </div>
</nav>

<nav class="navbar navbar-inverse navbar-default second">
  <div class="container-fluid">
    <ul class="nav navbar-nav" id="navigation">
      <li class="active"><a href="#">Home</a></li>
      {% if 'user' in session %}
      <li><a href="/logout">Logout</a></li>
      <li><a href="/trips">Trips</a></li>
      {% else %}
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>


      
  {% endif %}
      
    </ul>
  </div>
</nav>




  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}

  




{% block content %}
    put your content here
{% endblock %}
</div>
</body>
</html>