<!doctype html>
<html>
<head>
    <title>Flight Search</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/project.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/static/js/scripts.js"></script>
</head>
<body>

    <h1>Travelogue</h1>

    <h3>Discover your next vacation!</h3>


  {% if 'user' in session %}
    <a href="/logout">Logout</a>
  {% else %}
    <a href="/login">Login</a>
  {% endif %}


  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}

  




{% block content %}
    put your content here
{% endblock %}

</body>
</html>