{% extends 'base.html' %}
{% block content %}
 
        <table class="table table-hover table-bordered" id="table">    
                {% for each_fl in flight_results %}
                  <tr>{% for item in each_fl %}
                    {% for k, v in item.items() %}

                      <td>{{ k }}: {{ v }}</td>

                    {% endfor %}</tr>

                    
                  

                      {% endfor %}
                      
                       
                      
                  <tr class="blank_row">
                      <td colspan="3"></td>
                    </tr>

                    <tr><td><button  class="btn" id="book"><a href="https://www.kayak.com/flights/{{flight_results[0][0]['origin']}}-{{flight_results[0][0]['destination']}}/{{flight_results[0][0]['departure_time']}}/{{flight_results[0][1]['departure_time']}}">Book</a></button>
                {% endfor %}     


                    
                        </td></tr>   
            
        </table> 

    


{% endblock %}