{% extends 'base.html' %}
{% block head %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/project.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <style type="text/css">

    table, tr, td{
      border: 1px solid gray;
      background-color: transparent;
    }
    .blank{
      border-collapse: collapse;
      border-right: 0;
      border-left: 0;
    }

    .flight-details{
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
    }
    .btn{
      background-color: #B6BDD1;
    }
    </style>

{% endblock %}
{% block content %}
    <div class="container">
      <div class="row col-xs-12">
        <table class="table table-hover table-bordered" id="table"> 
                
                {% for each_fl in flight_results %}
                  {% for item in each_fl %}

                    <tr>{% for k, v in item.items() %}  
                   
                        <td class="flight-details">{{k }} : {{ v }}</td>

                    {% endfor %}</tr>

                      {% endfor %}
  
                    
                    <tr><td><button  class="btn" id="book"><a href="https://www.kayak.com/flights/{{flight_results[0][0]['Origin']}}-{{flight_results[0][0]['Destination']}}/{{flight_results[0][0]['Departure Time'][:10]}}/{{flight_results[0][1]['Departure Time'][:10]}}">Book</a></button>
                      </td></tr>   
                      <tr class="blank_row no-border">
                      <td class="blank" colspan="12"></td>
                    </tr>
                {% endfor %}     


                    
                        
            
        </table> 
        </div>
        </div>

    


{% endblock %}