{% extends 'base.html' %}
{% block content %}

<div>
    
    {% for dest, flights in all_flights.items() %}
        <ul>
            <li>
                {%for each_fl in flights %}
                    {% for item in each_fl %}
                        {% for k, v in item.items() %}

                             {{ k, v }}

                        {% endfor %}
                    {% endfor %}
                {% endfor %}        
            </li>
        </ul>

    {% endfor %}
</div>

{% endblock %}