{% extends 'base.html' %}
{% block head %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/project.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>

<style type="text/css">
#map {
        height: 400px;
        width: 100%;
        border-width: 1px;
        border-style: solid;
        border-color: black;

       }


.0-legend div{
    list-style-type: none;
}

.text-center{
  text-align: center;
}

.chart{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  background-color: transparent;
}

#average{
  text-align: center;
}
</style>





{% endblock %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-xs-6"> 
  
<form id="user-criteria" action="/destinations" method="GET">

  <div>
    <label>Enter your city of origin 
      <input id="origin" type="text" name="origin">
    </label>
  </div><br>


  <div>
    <label>Enter your budget $
      <input id="budget" type="number" name="budget">
    </label>
  </div><br>

  <div>
    <label>Start Date
      <input id="start-date" type="date" name="start-date">
    </label>
  </div><br>


  <div>
    <label>Return Date
      <input id="return-date" type="date" name="return-date">
    </label>
  </div><br>

  <div>
    <label>Number of passengers
      <input id="passengers" type="number" name="passengers">
    </label>
  </div><br>

  <div>
    <input type="submit">
  </div>

</form>
</div>

<div class="col-xs-6 chart">
  <div class="chart-origin">
    <canvas id="donutChart"></canvas>
  </div>
    <!-- <div id="donutLegend" class="chart-legend"></div> -->
    

    <h4 id="average">Average budgets for users based on origin city</h4>
  
</div>

</div>
</div>

<div class="container">

<div class="row text-center">
<h3>Popular destinations within the United States</h3>
</div>
<div class="row text-center">
  <div id="map" class="col-xs-12"></div> 
</div>

</div>


<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBh72lez6un3OHQ3sJ2EOLc1uFIEuDeeYc&callback=initMap">
</script>




<script
src="/static/js/scripts.js">
</script>



{% endblock %}