{% extends 'base.html' %}
{% block content %}

<h1>Register</h1>

<form action="/register" method="POST">

    <div>
        <label>
            First Name
            <input type="text" name="first-name">
        </label>
    </div>
    <br>

    <div>
        <label>
           Last Name
            <input type="text" name="last-name">
        </label>
    </div>
    <br>

    <div>
        <label>
            Email
            <input type="email" name="email">
        </label>
    </div>
    <br>

    <div>
        <label>
            Password
            <input type="password" name="password">
        </label>
    </div>
    <br>

    <div>
        <input type="submit" value="Register">
    </div>

</form>
</div>
{% endblock %}