{% extends 'base.html' %}
{% block head %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/project.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <style type="text/css">
    /*.favorite-removed{
        background-color: #808080;
    }*/

    .btn.favorite.favorite-removed{
        
        color: red;
    }

    .trip-search{
        border-width: 2px;
        border-style: solid;
        border-color: white;
        padding: 5px;
        

    }
    .trip-search{
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
    }
    
    </style>

{% endblock %}
{% block content %}
    <div class="container">
    <div class="row">
    <div class="col-xs-6"> 
    {% if user.trips %}


    <div>
        {% for trip in user.trips %}
        <div class="trip-search">
            <!-- <div>Search number: {{ trip.trip_id}}</div> -->
            <div>Origin: {{ trip.origin }}</div>
            <div>Budget: {{ trip.budget }}</div>
            <div>Start date: {{trip.date_started_at}}</div>
            <div>Return date: {{trip.date_returned_at}}</div>
            <div>Destinations: {{ trip.dest }}</div></div>

            {% if trip.favorite == False %}
            <div>
                <button><a id="button" class = "btn favorite-removed" data-tripid="{{trip.trip_id}}" data-favorite="No">Favorite!<span class="glyphicon glyphicon-heart"></a></button>
            </div>
            {% else %}
            <div>
            <button><a id="button" class = "btn favorite favorite-removed" data-tripid="{{trip.trip_id}}" data-favorite="Yes">Favorite!<span class="glyphicon glyphicon-heart"></span></a></button>
            </div>
            {% endif %}
            <br>
        {% endfor %}
    </div>
    {% endif %}
</div>
</div>
</div>

    <script src="/static/js/favorites.js"></script>
    

{% endblock %}




